<h1>Artist</h1>
<ul>
<% @artists.each do |artist| %>
<li> 
<%= link_to artist.name, artist_path(artist) %>
</li>
<% end %>
</ul>

<p> <%= link_to "New Artist", new_artist_path%> </p>

<p> <%= link_to "Log New Artist/Instrument Pair", new_log_path %> </p>